<br>
<app-home></app-home>




<br>
<div class="container">
  <div class="row headerOutline">
    <div class="col-8">
      <img src="\assets\images\logo.svg">
    </div>
    <div class="col-4 scoreBox">
      <!--  // voir si pertinent de fair eune flex box centrée  -->
      <div class="scoreText">
        <span class="Barlow">SCORE</span>
      </div>
      <div class="scoreNumber">
        <span> {{results}}</span>
      </div>
    </div>
  </div>
</div>
<br>
<div class="container">

  <div class="row">
    <div class="col">
      <div class="paper">
        <button (click)="play('paper')"
        style="background-color: Transparent !important; background-repeat:no-repeat !important; border: none !important;">
          <img src="\assets\images\icon-paper.svg">
        </button>
      </div>
    </div>

    <div class="col">
      <div class="scissors">
        <button (click)="play('scissors')"
          style="background-color: Transparent !important; background-repeat:no-repeat !important; border: none !important;">
          <img src="\assets\images\icon-scissors.svg"> </button>
      </div>
    </div>

      <div class="col">
        <div class="rock">
          <button (click)="play('rock')"
          style="background-color: Transparent !important; background-repeat:no-repeat !important; border: none !important;">
            <img src="\assets\images\icon-rock.svg">
          </button>         
        </div>
    </div>
  </div>

  <div class="container">
<div class="row headerOutline Barlow rules">
<!--       <div class="col-3 Barlow rules headerOutline"> -->
          RULES
     <!--  </div> -->
<!--     </div> -->
  </div>