/* You can add global styles to this file, and also import other style files */
html, body
{
    background: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    height: 100%;
}
 .center-div
{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 400px;
  height: 400px;
/*   background-color: pink; */
  border-radius: 3px;
} 


/* .a{
    width: fit-content;
}
 */


 @font-face {
    font-family: Barlow;
    src: url(\assets\fonts\BarlowSemiCondensed-Medium.ttf) format('truetype');
}

.Barlow {
    font-family: Barlow;
}

.button {     
    background-color: Transparent !important;
    background-repeat:no-repeat !important;
    border: none !important;
    cursor:pointer !important;
    overflow: hidden !important;        
}
 

 @media (max-width: 375px) {
    .a{
        width: fit-content;
        margin: 10px;
    }
}

@media (min-width: 1366px) {
    .a{
        width: fit-content;
        margin: auto;
    }
} 

