html, body {
  background: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  height: 100%;
}

 .center-div {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 400px;
  height: 400px;
  border-radius: 3px;
} 

@font-face {
  font-family: Barlow;
  src: url(\assets\fonts\BarlowSemiCondensed-Medium.ttf) format('truetype');
}

.Barlow {
  font-family: Barlow;
}

@media (min-width: 375px) {
  .part1 {
    margin: 10px
  }
  .part3 {
    text-align: center;
  }
}

@media (min-width: 1366px) {
  .part3 {
    text-align: right;
  }
} 

